@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body {
    font-family: 'Space Mono', monospace;
    text-align: center;
    background: #111;
    color: #777;
    margin: 0;
}

.title {
    text-transform: uppercase;
    font-size: 64px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    animation-name: title-pulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    color: black;
}

@keyframes title-pulse {
    0% { text-shadow: 0 0 1px #BDFF65, 0 0 2px #8BCE31, 0 0 6px #3B8E01; }
    50% { text-shadow: 0 0 4px #BDFF65, 0 0 8px #8BCE31, 0 0 14px #3B8E01; }
    100% { text-shadow: 0 0 1px #BDFF65, 0 0 2px #8BCE31, 0 0 6px #3B8E01; }
}

.ui-panel {
    /*width: 500px;*/
    margin:auto;
    margin-bottom: 0;
    background: #222;
    padding: 2px;
}

/*hide number picker*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*hide number picker*/
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input {
    border: 4px solid #111;
    font-size: 20px;
    background: #333;
    color: #6BAE11;
    padding: 4px;
    text-shadow: 0 0 4px #8BCE31;
    transition: text-shadow 0.5s, background 0.2s, color 0.05s;
}

input[type=number] {
    width: 100px;
}

.d-pad input[type=button] {
    width: 80px;
    height: 68px;
    padding: 0;
    font-size: 20px;
}

.d-pad input[type=button]:hover {
    text-shadow: 0 0 9px #8BCE31, 0 0 15px #0B6E01;
    background: #292929;
    transition: text-shadow 0.6s, background 0.6s, color 0.03s;
}

.d-pad input[type=button]:active {
    background: #292929;
    background: #222222;
    color: #B4FFBA;
    text-shadow: 0 0 4px #BDFF65, 0 0 8px #8BCE31, 0 0 14px #3B8E01;
    transition: text-shadow 0.01s, background 0.01s, color 0.01s;
}

.d-pad input[type=button].sensors {
    font-size: 50px;
}

.d-pad th {
    font-size: 38px;
    padding: 0;
    margin: 0;
}

.d-pad, .status {
    padding: 20px;
    position: absolute;
    bottom: 0;
    z-index: 20;
}

.d-pad { right: 0; }
.status { left: 0; }

.status-field {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    padding: 2px;
    margin:0;
    color: #777;
}

canvas {
    background: black;
}

.celestial-map-panel {
    /*padding: 20px;*/
    /*border: 4px;*/
    background: #222;
    padding: 0;
    margin: 0;
}

#celestial-map-container {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 200px;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.full-width {
    width: 100%;
}
.full-width input {
    min-width: 100%;
}

.custom-select {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.custom-select:hover {
    background-color: #111;
    cursor: text;
}

.custom-select select{
    font-family: 'Space Mono', monospace;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-top: 13px;
    text-align: center;
    background: transparent;
    font-size: 16px;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    color: white;
}

.custom-input {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white; 
}

.custom-input:hover {
    background-color: #111;
}

.custom-input input {
    border: 2px solid #111;
    font-size: 16px;
    color: white;
    text-shadow: none;
    width: 100%;
}